# Dependencias
node_modules

# Builds de producción
dist
dist-electron

# Salidas de empaquetado
out
release
build

# Cobertura de tests
coverage

# Bases de datos locales
*.db
*.db-journal
*.db-wal
*.sqlite

# Logs
*.log
npm-debug.log
yarn-error.log

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea

# Herramientas
.github
.claude

# TypeScript cache
*.tsbuildinfo
.claude/settings.local.json
